*:has(body.dark-mode) {
  -webkit-scrollbar-color: #323232 transparent;
  -moz-scrollbar-color: #323232 transparent;
  scrollbar-color: #323232 transparent;
}

body.dark-mode {
  background-color: #121212 !important;
  color: #e0e0e0 !important;
}
body.dark-mode :root {
  --scrollbar-color: #323232;
  --bs-navbar-toggler-border-color: rgba(255, 255, 255, 0.1);
}
body.dark-mode h2, body.dark-mode .h2 {
  text-shadow: none;
  color: #e0e0e0;
}
body.dark-mode select[multiple] {
  background: linear-gradient(#2a2a2a, #3a3a3a);
}
body.dark-mode .table {
  --bs-table-striped-bg: rgb(49, 49, 49);
  --bs-table-hover-bg: #444;
}
body.dark-mode .table-striped > tbody > tr:nth-of-type(even) > * {
  --bs-table-accent-bg: var(--bs-table-striped-bg);
  color: var(--bs-table-striped-color);
}
body.dark-mode table,
body.dark-mode th,
body.dark-mode td {
  background-color: #1e1e1e !important;
  color: #e0e0e0 !important;
  border-color: #333 !important;
}
body.dark-mode table th,
body.dark-mode table td {
  text-shadow: none;
  vertical-align: middle;
}
body.dark-mode .table thead th {
  background: #232323;
}
body.dark-mode table tbody {
  background: #1e1e1e;
}
body.dark-mode .navigation_separator {
  height: 100%;
  background: rgb(30, 30, 30);
}
body.dark-mode input,
body.dark-mode button,
body.dark-mode select,
body.dark-mode textarea {
  background-color: #333 !important;
  color: #fff !important;
  border: 1px solid #444 !important;
}
body.dark-mode a {
  color: #4a90e2 !important;
}
body.dark-mode tr.marked {
  background-color: #3a3a3a !important;
}
body.dark-mode .alert {
  background-color: #2a2a2a !important;
  color: #ffffff !important;
}
body.dark-mode #pma_navigation {
  background: linear-gradient(to right, #232323, #444);
  color: #e0e0e0;
}
body.dark-mode #pma_navigation_tree,
body.dark-mode #pma_navigation_header,
body.dark-mode .navbar {
  background-color: #232323 !important;
  color: #e0e0e0 !important;
}
body.dark-mode #pma_console .toolbar {
  background: #444;
  border-top: solid 1px #333;
}
body.dark-mode .navbar.bg-light {
  background: linear-gradient(#232323, #444);
}
body.dark-mode .breadcrumb-navbar {
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.7215686275);
}
body.dark-mode .navbar-toggler {
  color: #e0e0e0;
}
body.dark-mode .navbar-toggler:focus {
  box-shadow: none;
}
body.dark-mode .navbar-nav .nav-item {
  background: linear-gradient(#232323, #444);
  border-right: 1px solid #444;
  border-left: 1px solid #333;
  border-bottom: 1px solid #333;
}
body.dark-mode .navbar-nav .nav-item.active {
  background: #3a3a3a;
  border-bottom: 0;
}
body.dark-mode .result_query div.sqlOuter {
  background: #1e1e1e !important;
  color: #e0e0e0 !important;
  text-align: left;
}
body.dark-mode .cm-sql-doc {
  border-bottom: solid 1px #333;
}
body.dark-mode .pma-fieldset {
  border: #444 solid 1px;
  background: #2a2a2a;
  text-shadow: none;
  box-shadow: none;
}
body.dark-mode .pma-fieldset legend {
  color: #e0e0e0;
  border: 1px solid #444;
  background-color: #232323;
  box-shadow: none;
}
body.dark-mode .btn-primary,
body.dark-mode .btn-secondary {
  border-color: #444;
  text-shadow: none;
  background-image: linear-gradient(#333, #444);
}
body.dark-mode div.tools,
body.dark-mode .tblFooters {
  color: #e0e0e0;
  background: #2a2a2a;
}
body.dark-mode #pma_navigation_tree li.selected {
  color: #e0e0e0;
  background-color: #3a3a3a;
}
body.dark-mode #pma_navigation_tree {
  color: #e0e0e0;
}
body.dark-mode #pma_navigation_tree a {
  color: #4a90e2;
  padding-left: 0;
}
body.dark-mode #pma_navigation_tree li.activePointer, body.dark-mode #pma_navigation_tree li.selected {
  color: #e0e0e0;
  background-color: #3a3a3a;
}
body.dark-mode .dropdown-menu {
  background-color: #2a2a2a;
}
body.dark-mode .dropdown-item.active, body.dark-mode .dropdown-item:active {
  background-color: #4d4d4d;
}
body.dark-mode .dropdown-item:hover, body.dark-mode .dropdown-item:focus {
  --bs-dropdown-link-hover-color: #e0e0e0;
  --bs-dropdown-link-hover-bg: #3a3a3a;
  --bs-gradient: linear-gradient(180deg, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
  color: var(--bs-dropdown-link-hover-color);
  background-color: var(--bs-dropdown-link-hover-bg);
  background-image: var(--bs-gradient);
}
body.dark-mode .nav-pills .nav-link.active, body.dark-mode .nav-pills .show > .nav-link {
  background-color: #3a3a3a;
  color: #4a90e2;
  border-radius: 0.3em;
}
body.dark-mode .nav-pills .nav-link {
  background: #2a2a2a;
  color: #4a90e2;
  border: 1px solid #444;
}
body.dark-mode .ajax_notification {
  border: 1px solid #f0c674;
  background-color: #3a3a3a;
  box-shadow: 0 5px 90px rgba(0, 0, 0, 0.5);
}
body.dark-mode .card {
  --bs-card-border-color: #444;
  --bs-card-cap-bg: #2a2a2a;
  --bs-card-bg: #3a3a3a;
  background-color: var(--bs-card-bg);
  border: var(--bs-card-border-width) solid var(--bs-card-border-color);
  border-radius: var(--bs-card-border-radius);
}
body.dark-mode .CodeMirror {
  background: #2a2a2a;
  color: #e0e0e0;
}
body.dark-mode .CodeMirror-gutters {
  border-right: 1px solid #444;
  background-color: #3a3a3a;
}
body.dark-mode .card, body.dark-mode .card-footer {
  text-shadow: none;
  box-shadow: none;
}
body.dark-mode .card-footer {
  color: #e0e0e0;
  background: #2a2a2a;
}
body.dark-mode .card-header {
  border: 1px solid #444;
  box-shadow: none;
}
body.dark-mode #maincontainer .card {
  background-color: #2a2a2a;
  border: 1px solid #444;
  box-shadow: none;
}
body.dark-mode .list-group-item {
  --bs-list-group-color: #e0e0e0;
  color: var(--bs-list-group-color);
}
body.dark-mode .nav-tabs .nav-link {
  background-color: #3a3a3a;
  color: #e0e0e0;
  border-color: #444 #444 #333;
}
body.dark-mode .nav-tabs .nav-link:hover, body.dark-mode .nav-tabs .nav-item.show .nav-link:focus {
  background-color: #444;
}
body.dark-mode .nav-tabs .nav-link.active:hover, body.dark-mode .nav-tabs .nav-link.active:focus, body.dark-mode .nav-tabs .nav-item.show .nav-link:hover, body.dark-mode .nav-tabs .nav-item.show .nav-link:focus {
  background-color: #444;
}
body.dark-mode .pma_quick_warp .drop_list ul {
  background: #2a2a2a;
  border: 1px solid #444;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
body.dark-mode .ui-widget-shadow {
  -webkit-box-shadow: -8px -8px 8px rgba(0, 0, 0, 0.5);
  box-shadow: -8px -8px 8px rgba(0, 0, 0, 0.5);
}
body.dark-mode .input-group-text {
  color: #e0e0e0;
  background-color: #3a3a3a;
  border: 1px solid #444;
}
body.dark-mode .ui-widget-content {
  border: 1px solid #444444;
  background: #2a2a2a;
  color: #e0e0e0;
}
body.dark-mode .ui-widget-header {
  border: 1px solid #444444;
  background: #3a3a3a;
  color: #e0e0e0;
}
body.dark-mode #osn_tab {
  background-color: #2a2a2a;
  color: #e0e0e0;
}
body.dark-mode #name-panel {
  border-bottom: 1px solid #666;
  background: #3a3a3a;
}
body.dark-mode #canvas {
  background-color: #2a2a2a;
  color: #e0e0e0;
}
body.dark-mode .tab_zag_2 {
  background: linear-gradient(#4a4a4a 0%, #4a4a4a 39%, #5a5a5a 40%, #5a5a5a 100%);
}
body.dark-mode .side-menu {
  background: #efefef;
  border: 1px solid gray;
}
body.dark-mode .designer_header {
  background: #2a2a2a;
  color: #e0e0e0;
}
body.dark-mode .designer_header a, body.dark-mode .designer_header span {
  border: 1px dotted #000;
}
body.dark-mode .designer_Tabs {
  color: #e0e0e0;
  background: linear-gradient(#3a3a3a, #2a2a2a 70%, #3a3a3a 70%, #3a3a3a 100%);
  border: #444 solid 1px;
}
body.dark-mode #layer_menu {
  background-color: #3a3a3a;
  border: #666 solid 1px;
}
body.dark-mode #pma_navigation div#pmalogo {
  background-color: #2a2a2a;
  color: #e0e0e0;
}
body.dark-mode .breadcrumb-navbar {
  background-color: #2a2a2a;
  color: #e0e0e0;
}
body.dark-mode .navbar-nav .nav-link {
  background-color: #3a3a3a;
  border-color: #444;
}
body.dark-mode .navbar-nav .nav-item.active .nav-link {
  background-color: #757575;
}
body.dark-mode .table caption {
  background-color: #2a2a2a;
  color: #e0e0e0;
}
body.dark-mode #maincontainer .card-header {
  background-color: #3a3a3a;
}
body.dark-mode .result_query {
  background: #2a2a2a;
  color: #e0e0e0;
}
body.dark-mode .sqlOuter code.sql, body.dark-mode div.sqlvalidate, body.dark-mode #inline_editor_outer {
  background-color: #2a2a2a;
  border: 1px solid #444;
}
body.dark-mode #pma_navigation #navipanellinks {
  background-color: #3a3a3a;
}
body.dark-mode #li_select_server.list-group-item:hover, body.dark-mode #li_change_password.list-group-item:hover, body.dark-mode #li_select_mysql_collation.list-group-item:hover, body.dark-mode #li_user_preferences.list-group-item:hover, body.dark-mode #li_select_lang.list-group-item:hover, body.dark-mode #li_select_theme.list-group-item:hover {
  background: #4d4d4d;
}
body.dark-mode .list-group-item {
  --bs-list-group-bg: #3a3a3a;
  --bs-list-group-color: #e0e0e0;
  --bs-list-group-border-color: #444;
  color: var(--bs-list-group-color);
  background-color: var(--bs-list-group-bg);
  border: var(--bs-list-group-border-width) solid var(--bs-list-group-border-color);
}
body.dark-mode .accordion-item {
  --bs-accordion-color: #e0e0e0;
  --bs-accordion-bg: #3a3a3a;
  --bs-accordion-border-color: #444;
  color: var(--bs-accordion-color);
  background-color: var(--bs-accordion-bg);
  border: var(--bs-accordion-border-width) solid var(--bs-accordion-border-color);
}
body.dark-mode .ui-state-default, body.dark-mode .ui-widget-content .ui-state-default, body.dark-mode .ui-widget-header .ui-state-default, body.dark-mode .ui-button, body.dark-mode html .ui-button.ui-state-disabled:hover, body.dark-mode html .ui-button.ui-state-disabled:active {
  border: 1px solid #444;
  background: #2a2a2a;
  color: #e0e0e0;
}
body.dark-mode table#chartGrid div.monitorChart {
  background: #3a3a3a;
}
body.dark-mode .popupContent {
  border: 1px solid #444;
  background-color: #2a2a2a;
  box-shadow: 2px 2px 3px #000;
}
body.dark-mode .modal-content {
  --bs-modal-color: #e0e0e0;
  --bs-modal-bg: #3a3a3a;
  --bs-modal-border-color: #444;
  color: var(--bs-modal-color);
  background-color: var(--bs-modal-bg);
  border: var(--bs-modal-border-width) solid var(--bs-modal-border-color);
  border-radius: var(--bs-modal-border-radius);
}
body.dark-mode header {
  background-color: #2a2a2a;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  -webkit-box-shadow: 0 0 5px rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.1);
}
body.dark-mode #listing.list .item.header {
  background: #3a3a3a;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
body.dark-mode #listing .item {
  background-color: #3a3a3a;
  color: #e0e0e0;
}
body.dark-mode #search #input {
  background-color: #2a2a2a;
  color: #e0e0e0;
}
body.dark-mode #search #input input {
  padding: 0.5rem;
}
body.dark-mode #search #result {
  background-color: #2a2a2a;
  color: #e0e0e0;
}
body.dark-mode #search .boxes {
  border: 1px solid rgba(255, 255, 255, 0.075);
  -webkit-box-shadow: 0 0 5px rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.1);
  background: #2a2a2a;
}
body.dark-mode #search .boxes h3 {
  color: #e0e0e0;
}

/*# sourceMappingURL=dark-mode.css.map */
